* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.header{
  background-color: #7950f2;
  padding: 50px 0;
}

.sidebar {
  background-color: #ced4da;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  a{
    font-size: 20px;
  }
}

.content {
  background-color: aliceblue;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
